In [4]:
import sqlite3 as sql
import pandas as pd

In [5]:
db = None
cursor = None
data = None

try:
    db = sql.connect("database2.db")
    cursor = db.cursor()
    cursor.execute("""
    SELECT * FROM entry;
    """)
    data = cursor.fetchall()
except: pass
finally:
    if cursor:
        cursor.close()
        cursor = None
    if db:
        db.close()
        db = None

if data:
    display(pd.DataFrame(data))

,0,1,2,3,4,5,6,7,8,9
0,1,None,1wall6targets CS2,102.519379,1739136666938729200,Valorant,0.129926,400,Valorant,103
1,2,None,beanClick,108.000000,1739122058665073600,Valorant,0.129926,400,Valorant,103
2,3,None,beanClick,110.000000,1739122129683383000,Valorant,0.129926,400,Valorant,103
3,4,None,beanClick,114.000000,1739122198896024600,Valorant,0.129926,400,Valorant,103
4,5,None,beanClick Micro 30% Smaller,77.000000,1739122325474206100,Valorant,0.129926,400,Valorant,103
...,...,...,...,...,...,...,...,...,...,...
154,155,None,VT Smoothbot Intermediate,2667.000000,1738019911299837100,Valorant,0.129926,400,Valorant,103
155,156,None,VT Smoothbot Intermediate,2790.000000,1738933033240490600,Valorant,0.129926,400,Valorant,103
156,157,None,VT Smoothbot Intermediate,2974.000000,1739036576312906100,Valorant,0.129926,400,Valorant,103
157,158,None,VT Smoothbot Intermediate,3187.000000,1739305103101132200,Valorant,0.109937,400,Valorant,103
158,159,None,VT Smoothbot Intermediate,3018.000000,1739305196323959500,Valorant,0.109937,400,Valorant,103